# See http://help.github.com/ignore-files/ for more about ignoring files.

# IDEs and editors
.idea
.idea/
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

logs/


config.js
webapps/workflow-studio-config.js

#projects ignore directory
package-lock.json
node_modules/

